<tr>
  <td><%= patient.id %></td>
  <td><%= patient.name %></td>
  <td><%= patient.first_name %></td>
  <td><%= patient.birthday %></td>
  <td><%= patient.zip_code %></td>
  <td><%= patient.city %></td>
  <td><%= patient.updated_at %></td>
  <td>
        <%= link_to "show", patient, class: "btn btn-mini btn-primary" %>
        <%= link_to "delete", patient, method: :delete, data: { confirm: "Are you sure you want to delete patient #{patient.first_name} #{patient.name}?" },
                  class: "btn btn-mini btn-danger" %>
  </td>

</tr>