<tr>
  <td><input type="checkbox" data-id="<%= patient.id %>" </input></td>
  <td><%= patient.id %></td>
  <td><%= patient.name %></td>
  <td><%= patient.first_name %></td>
  <td><%= patient.birthday %></td>
  <td><%= patient.zip_code %></td>
  <td><%= patient.city %></td>
  <td><%= patient.updated_at %></td>
  <td>
    <%= link_to "show", patient, class: "btn btn-mini btn-primary" %>
    <%= link_to "delete", patient, method: :delete, data: {confirm: "Are you sure you want to delete patient #{patient.first_name} #{patient.name}?"},
                class: "btn btn-mini btn-danger" %>
  </td>
</tr>


<script type="text/javascript">

  Array.prototype.getUnique = function () {
    var u = {}, a = [];
    for (var i = 0, l = this.length; i < l; ++i) {
      if (u.hasOwnProperty(this[i])) {
        continue;
      }
      a.push(this[i]);
      u[this[i]] = 1;
    }
    return a;
  };

  ExportHandler = function () {
    var self = this,
        checked_patients = [],
        export_button = $("#export_button");

    this.init = function () {
      $("#patients td >input").bind('change', self.handleSelects);
      export_button.bind("click", self.do_export);
    };

    this.handleSelects = function () {
      checked_patients = [];
      $("#patients td >input:checked").each(function (i, el) {
        checked_patients.push($(el).data('id'));
      });
      self.toggleExport();
    };

    this.toggleExport = function () {
      if (checked_patients.length > 0) {
        export_button.fadeIn(1000);
      } else {
        export_button.fadeOut(800)
      }
    };

    this.do_export = function () {
      console.log("dow export");
      export_button.preventDefault();
      $.ajax({
        method: "post",
        url: "/patients/export",
        data: checked_patients.getUnique(),
        success: function () {

        }
      })
    };

    this.init();
  };

  $(document).ready(function () {
    new ExportHandler();
  })

</script>