<% provide(:title, 'All patients') %>
<h1>All patients</h1>

<%= will_paginate %>

<%= link_to 'Add Patient', new_patient_path(@patient), class: "btn btn-default btn-success" %>
<%= link_to 'Export Patients', "#", id: "export_button", class: "btn btn-default btn-success", style: "display:none;" %>

<table class="table table-bordered table-striped table-condensed table-hover" name="patients" id="patients">
  <th>#</th>
  <th>id</th>
  <th>Name</th>
  <th>First Name</th>
  <th>Birthday</th>
  <th>Zip Code</th>
  <th>City</th>
  <th>Updated at</th>
  <th colspan="2">Actions</th>
        <%= render @patients %>
</table>

<%= will_paginate %>