
<%#= render :partial => "shared/subnavi" %>
<section>
  <h1>
    <%#= gravatar_for @user %>
    Examination
  </h1>
</section>
<section>
  <%= form_for @examination do |f| %>
    <p>
        <strong>Examination date:</strong>
        <%= f.examination_date %>
    </p>
    <p>
        <strong>Examiner:</strong>
        <%= f.examiner %>
    </p>
    <p>
        <strong>Age at examination:</strong>
        <%= f.age_at_examination %>
    </p>
  <p>
    <strong>Profession:</strong>
    <%= f.profession %>
  </p>
  <p>
    <strong>External data:</strong>
    <%= f.external_data  %>
  </p>
  <p>
    <strong>Usable data:</strong>
    <%= f.usable_data %>
  </p>
  <p>
    <strong>Comment patient:</strong>
    <%= f.comment_patient %>
  </p>
  <p>
    <strong>Comment examiner:</strong>
    <%= f.comment_examiner %>
  </p>
  <p>
    <strong>Short description:</strong>
    <%= f.short_description %>
  </p>
  <%end%>
  <%#= raise "#{@examination.to_yaml}"%>
    <%= link_to 'Edit Examination', [@patient, @examination], class: "btn btn-default btn-primary" %>
</section>